{% extends 'restaurant/base.html' %}
{% block content %}
    <section class='section-intro'>
        <form class="media-centered" method='GET'>
            {% csrf_token %}
            <input type="text" name="search">
            <input type="submit" value="Search">
        </form>
        {% for food in foods %}
            <div id='food_items'>
                <div>
                    <img class="article-img" width="150rem" height="150rem" src="{{ food.image.url }}">
                </div>
                <div>
                    <h2>{{ food.name }}</h2>
                    <h3>Price: {{food.price}}</h3>
                    <h4>{{ food.category }}</h4>
                    <form class="media-centered" method='POST'>
                        {% csrf_token %}
                        <input type="hidden" name="food_name" value="{{ food.name }}">
                        <input type="hidden" name="food_price" value="{{ food.price }}">
                        <input type="hidden" name="image_url" value="{{ food.image.url }}">
                        <input type="number" name="food_quantity" value=1 min=1><br></br>
                        <input type="submit" value="Add to Cart">
                    </form>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock content %}